.profile-pic{
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-pic .profile-dp{
    border: 2px solid black;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
}

form #form-btn{
    text-decoration: none;
    display: block;
    height: 55px;
    text-align: center;
    line-height: 55px;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 30px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease;
    background: rgb(130, 106, 251);
}

#form button:hover {
    background: rgb(88, 56, 250);
}

.profile-dp input{
    width: 350px;
    border: none;
    margin-left: -1.8rem;
}

.success{
    background-color: lightgreen;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0.75rem 1.5rem;
    position: absolute;
    top: 15%;
    left: 52%;
    border-radius: 4px;
    border: 2px solid green;
    z-index: 999;
    opacity: 0;
}