.det-btn button{
    background-color: red;
    transition: all 0.2s ease-in;
}

.det-btn button:hover{
    background: rgba(0, 0, 0, 1);
}

.main{
    height: 190vh;
}

.footer{
    top: calc(150px + 190vh);
}